<ion-content>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Conta</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let user of (users | async)">
            <ion-label>
              <h2>ID: {{ user.id }}</h2>
              <h2>Usuário: {{ user.usuario }}</h2>
              <h2>Nome: {{ user.nome }}</h2>
              <h2>Telefone: {{ user.telefone }}</h2>
              <h2>E-mail: {{ user.email }}</h2>
              <h2>Senha: {{ user.senha }}</h2>
            </ion-label>
            <ion-icon slot="start" icon="person-circle" color="primary"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-content>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/inicio']">
          <ion-icon name="home" aria-hidden="true"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/material']">
          <ion-icon name="leaf" aria-hidden="true"></ion-icon>
          <ion-label>Material Reciclável</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/mapa']">
          <ion-icon name="map" aria-hidden="true"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/conta']">
          <ion-icon name="person" aria-hidden="true"></ion-icon>
          <ion-label>Conta</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>