<ion-content>
  <br/>
  <ion-item href="/home">
  <div class="logo">
  <ion-img src="../../../assets/iSenac.png"></ion-img>
  </div>
  </ion-item>
  
  <br/>
  <br/>
  <br/>
  

  <form  (submit)="onSubmit()">
  <div class="input-div">
  <ion-item>
  <h3>Usuário</h3>
  <ion-label class="nome-label">Nome de Usuário</ion-label> <br/><br/>
  </ion-item>
  <ion-item>
    <ion-input class="inputs" type="text" class="form-control" id="usuario" name="usuario" [(ngModel)]="username"  placeholder="Insira o Usuário"></ion-input>
  </ion-item>
  </div>
  
  <div class="input-div">
  <ion-item>
  <h3>Senha</h3>
  <ion-label class="nome-label">Senha</ion-label> <br/><br/>
  </ion-item>
  <ion-item>
  <ion-input autocomplete="off"  class="inputs"  type="password" class="form-control" id="senha" name="senha" [(ngModel)]="password"  placeholder="Insira a senha" ></ion-input>
  </ion-item>
  </div>
  
  <ion-item>
  <div class="button-2">
  <ion-buttons>
  <ion-button type="submit" color="primary" expand="block" share="round">Entrar</ion-button>
  </ion-buttons>
  </div>
  </ion-item>
  </form>
  <br/>
  <br/>
  <br/>
  
  <ion-item href="/register">
  <div class="criar-conta">
  <h5><strong>Não possui conta?</strong></h5>
  <h5>Faça agora mesmo</h5>
  </div>
  </ion-item>
  
  </ion-content>
  